body, html{
	width: 100%;
	height: 100%;
}
#img{
	padding: 45px;
}
#mainNav {
	margin: 0;
}
#mainNav .navbar-brand, #mainNav .navbar-nav li.nav-item a {
	color:white;
}

#mainNav .navbar-nav li.nav-item a {
	list-style-position: right;
}